
<div id="<%= dom_id product %>">
  <p>
    <strong>Imagem:</strong>
    <%= image_tag product.image.variant(:details) %>
  </p>

  <p>
    <strong>Nome:</strong>
    <%= product.name %>
  </p>

  <p>
    <strong>Descrição:</strong>
    <%= product.description %>
  </p>

  <p>
    <strong>Preço:</strong>
    <%= product.price %>
  </p>

  <p>
    <strong>Quantidade em Estoque:</strong>
    <%= product.quantity %>
  </p>
</div> 