
<div id="<%= dom_id product %>">
  <p>
    <% product.images.each do |file| %>
      <%= image_tag file.variant(:thumb) if file.present? %>
    <% end %>
  </p>

  <p>
    <strong>Nome:</strong>
    <%= product.name %>
  </p>

  <p>
    <strong>Descrição:</strong>
    <%= product.description %>
  </p>

  <p>
    <strong>Preço:</strong>
    <%= product.price %>
  </p>

  <p>
    <strong>Quantidade em Estoque:</strong>
    <%= product.quantity %>
  </p>

  <p>
    <strong>Ativo</strong>
    <%= product.active ? 'Sim' : 'Não' %>
  </p>
</div> 

<%= link_to "Voltar", admin_products_path, class: 'btn btn-primary' %>