
<div id="<%= dom_id user %>">
  <p>
    <strong>Nome:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>E-mail:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>CPF:</strong>
    <%= user.document_number %>
  </p>

  <p>
    <strong>Função:</strong>
    <%= user.role %>
  </p>
</div>